In [10]:
import sqlalchemy as db
from sqlalchemy import create_engine, inspect, MetaData, Integer, String
import pandas as pd

In [11]:
from sqlalchemy.sql import func, and_, desc, alias, text, and_, cast

In [12]:
pd.options.display.max_rows=200

In [13]:
engine = db.create_engine('sqlite:///C:\\Users\\peter\\Documents\\Projekte\\Zähler\\tc_all_new.db', echo = False)

In [14]:
conn = engine.connect()

In [15]:
metadata = db.MetaData(bind=engine)

In [16]:
table = db.Table('tcdata_CH_0084_01', metadata, autoload = True)

#### Voila, mit der so definierten Tabelle kann ich die Abfragen starten!

In [17]:
q = db.select(table)
result = conn.execute(q)
row = result.fetchmany(4)
row

[('2021-07-27 19:53:00+02:00', 900.0, 68.9000015, 0.0, 0.0, 0.0, 0.0),
 ('2021-07-27 19:58:00+02:00', 840.0, 65.5, 60.0, 73.0, 0.0, 0.0),
 ('2021-07-27 20:03:00+02:00', 840.0, 67.8000031, 60.0, 72.0, 0.0, 0.0),
 ('2021-07-27 20:08:00+02:00', 600.0, 79.3000031, 0.0, 0.0, 0.0, 0.0)]

#### Intro eines Alias für table (WICHTIG: *Alias* gilt nur für Tabellen. **Bemerkung:** Spalten kann man mit *Labels* umbenennen...

In [18]:
t = table.alias()

#### Hier starte ich jetzt mit den Auswertungen (Durchschnitte) pro Stunde, die ich mache für: 
<ol>
    <li>den Gesamtzeitraum</li>
    <li>pro Monat</li>
    <li>pro Woche</li>
    <li>pro Wochentag</li>
</ol>

#### Gesamtzeitraum

In [19]:
q = db.select(t.c.time, func.count(t.c.time).label('Anzahl'), func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round(func.avg(t.c.vfr11)).label('AVG_flow'), func.round(func.avg(t.c.s12)).label('AVG_speed')). \
where(t.c.vfr11 >0).\
group_by(func.strftime('%H', t.c.time)). \
order_by('Wochentag')
result = conn.execute(q)
row = result.fetchall()

In [20]:
df_avg_gesamt= pd.read_sql_query(q, conn)
df_avg_gesamt.head(12)

,time,Anzahl,Jahr,Monat,Woche,Tag,Stunde,Wochentag,AVG_flow,AVG_speed
0,2021-07-27 19:53:00+02:00,4723,2021,07,30,27,19,2,1286.0,64.0
1,2021-07-27 20:03:00+02:00,4751,2021,07,30,27,20,2,998.0,66.0
2,2021-07-27 21:03:00+02:00,4540,2021,07,30,27,21,2,810.0,66.0
3,2021-07-27 22:08:00+02:00,3546,2021,07,30,27,22,2,683.0,66.0
4,2021-07-27 23:03:00+02:00,2989,2021,07,30,27,23,2,531.0,65.0
5,2021-07-28 00:03:00+02:00,2844,2021,07,30,27,00,2,374.0,66.0
6,2021-07-28 01:03:00+02:00,2598,2021,07,30,27,01,2,248.0,67.0
7,2021-07-28 02:03:00+02:00,2286,2021,07,30,28,02,3,181.0,66.0
8,2021-07-28 03:03:00+02:00,2252,2021,07,30,28,03,3,148.0,66.0
9,2021-07-28 04:03:00+02:00,2700,2021,07,30,28,04,3,178.0,67.0
10,2021-07-28 05:03:00+02:00,5719,2021,07,30,28,05,3,451.0,68.0
11,2021-07-28 06:00:00+02:00,22796,2021,07,30,28,06,3,964.0,66.0

#### pro Monat

In [21]:
q = db.select(t.c.time, func.count(t.c.time).label('Anzahl'), func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round(func.avg(t.c.vfr11)).label('AVG_flow'), func.round(func.avg(t.c.s12)).label('AVG_speed')). \
where(t.c.vfr11 >0).\
group_by(func.strftime('%H', t.c.time), func.strftime('%m', t.c.time)). \
order_by('Monat')
result = conn.execute(q)
row = result.fetchall()

In [22]:
print(len(row))

288

In [23]:
df_avg_monat= pd.read_sql_query(q, conn)
df_avg_monat.head(14)

,time,Anzahl,Jahr,Monat,Woche,Tag,Stunde,Wochentag,AVG_flow,AVG_speed
0,2022-01-01 01:03:00+01:00,171,2022,01,00,01,01,6,230.0,68.0
1,2022-01-01 02:03:00+01:00,169,2022,01,00,01,02,6,172.0,67.0
2,2022-01-01 03:03:00+01:00,154,2022,01,00,01,03,6,136.0,68.0
3,2022-01-01 04:04:00+01:00,307,2022,01,00,01,04,6,170.0,67.0
4,2022-01-01 05:00:00+01:00,1644,2022,01,00,01,05,6,396.0,69.0
5,2022-01-01 06:00:00+01:00,1792,2022,01,00,01,06,6,1152.0,67.0
6,2022-01-01 07:00:00+01:00,1648,2022,01,00,01,07,6,1397.0,63.0
7,2022-01-01 08:03:00+01:00,359,2022,01,00,01,08,6,1117.0,66.0
8,2022-01-01 09:03:00+01:00,360,2022,01,00,01,09,6,1108.0,67.0
9,2022-01-01 10:03:00+01:00,360,2022,01,00,01,10,6,1183.0,67.0
10,2022-01-01 11:03:00+01:00,360,2022,01,00,01,11,6,1302.0,67.0
11,2022-01-01 12:03:00+01:00,360,2022,01,00,01,12,6,1341.0,67.0
12,2022-01-01 13:03:00+01:00,360,2022,01,00,01,13,6,1486.0,66.0
13,2022-01-01 14:03:00+01:00,517,2022,01,00,01,14,6,1479.0,65.0

#### pro Woche

In [24]:
q = db.select(t.c.time, func.count(t.c.time).label('Anzahl'), func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round(func.avg(t.c.vfr11)).label('AVG_flow'), func.round(func.avg(t.c.s12)).label('AVG_speed')). \
where(t.c.vfr11 >0).\
group_by(func.strftime('%H', t.c.time), func.strftime('%W', t.c.time)). \
order_by('Jahr')
result = conn.execute(q)
row = result.fetchall()

In [25]:
print(len(row))

1272

In [26]:
df_avg_woche= pd.read_sql_query(q, conn)
df_avg_woche.head(14)

,time,Anzahl,Jahr,Monat,Woche,Tag,Stunde,Wochentag,AVG_flow,AVG_speed
0,2021-07-28 02:03:00+02:00,94,2021,07,30,28,02,3,137.0,67.0
1,2021-08-02 02:01:00+02:00,98,2021,08,31,02,02,1,146.0,67.0
2,2021-08-09 02:03:00+02:00,86,2021,08,32,09,02,1,155.0,65.0
3,2021-08-16 02:03:00+02:00,101,2021,08,33,16,02,1,152.0,65.0
4,2021-08-23 02:08:00+02:00,80,2021,08,34,23,02,1,152.0,63.0
5,2021-08-30 02:00:00+02:00,72,2021,08,35,30,02,1,168.0,66.0
6,2021-09-06 02:04:00+02:00,65,2021,09,36,06,02,1,189.0,67.0
7,2021-09-13 02:04:00+02:00,68,2021,09,37,13,02,1,126.0,66.0
8,2021-09-20 02:04:00+02:00,60,2021,09,38,20,02,1,128.0,69.0
9,2021-09-27 02:08:00+02:00,41,2021,09,39,27,02,1,162.0,66.0
10,2021-10-08 02:03:00+02:00,33,2021,10,40,08,02,5,173.0,64.0
11,2021-10-11 02:03:00+02:00,58,2021,10,41,11,02,1,115.0,61.0
12,2021-10-21 02:09:00+02:00,28,2021,10,42,21,02,4,156.0,64.0
13,2021-10-29 02:13:00+02:00,21,2021,10,43,29,02,5,151.0,66.0

#### Wochentag

In [27]:
q = db.select(t.c.time, func.count(t.c.time).label('Anzahl'), func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round(func.avg(t.c.vfr11)).label('AVG_flow'), func.round(func.avg(t.c.s12)).label('AVG_speed')). \
where(t.c.vfr11 >0).\
group_by(func.strftime('%H', t.c.time), func.strftime('%w', t.c.time)). \
order_by('Stunde')
result = conn.execute(q)
row = result.fetchall()

In [28]:
print(len(row))

168

In [29]:
df_avg_wochentag= pd.read_sql_query(q, conn)
df_avg_wochentag.head(12)

,time,Anzahl,Jahr,Monat,Woche,Tag,Stunde,Wochentag,AVG_flow,AVG_speed
0,2021-08-02 00:00:00+02:00,368,2021,08,30,01,00,0,250.0,67.0
1,2021-08-10 00:03:00+02:00,242,2021,08,32,09,00,1,212.0,65.0
2,2021-07-28 00:03:00+02:00,244,2021,07,30,27,00,2,227.0,65.0
3,2021-07-29 00:03:00+02:00,308,2021,07,30,28,00,3,246.0,64.0
4,2021-07-30 00:03:00+02:00,357,2021,07,30,29,00,4,281.0,66.0
5,2021-07-31 00:03:00+02:00,664,2021,07,30,30,00,5,480.0,67.0
6,2021-08-08 00:04:00+02:00,661,2021,08,31,07,00,6,560.0,67.0
7,2021-08-02 01:00:00+02:00,314,2021,08,30,01,01,0,137.0,67.0
8,2021-08-10 01:03:00+02:00,202,2021,08,32,09,01,1,134.0,65.0
9,2021-07-28 01:03:00+02:00,199,2021,07,30,27,01,2,144.0,65.0
10,2021-07-29 01:13:00+02:00,256,2021,07,30,28,01,3,146.0,64.0
11,2021-07-30 01:03:00+02:00,318,2021,07,30,29,01,4,163.0,65.0

#### Ok, damit ist alles für den Loop vorbereitet, mit dem ich die DFs erstelle, die schliesslich als csv-Dateien ebgespeichert werden

In [30]:
inspector = inspect(engine)

In [31]:
tab = inspector.get_table_names()
len(tab)

76

In [32]:
tab = tab[8:12]

In [33]:
tab

['tcdata_CH_0084_01',
 'tcdata_CH_0084_02',
 'tcdata_CH_0084_03',
 'tcdata_CH_0084_04']

In [106]:
import os
os.getcwd()

'C:\\Users\\peter\\Documents\\Projekte\\Coding\\Jupyter'

In [110]:
ListAnzahl = []
for table in tab:
    t = db.Table(table, metadata, autoload = True)
    ListAnzahl.append(table[10:])
    
    q = db.select(t.c.time, func.count(t.c.time).label('Anzahl'), func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round(func.avg(t.c.vfr11)).label('AVG_flow'), func.round(func.avg(t.c.s12)).label('AVG_speed')). \
    where(t.c.vfr11 >0).\
    group_by(func.strftime('%H', t.c.time), func.strftime('%w', t.c.time)). \
    order_by('Stunde')
    
    result = conn.execute(q)
    row = result.fetchall()
    ListAnzahl.append(len(row)) 
    df = pd.read_sql_query(q, conn)
    df.to_csv(r'C:\Users\peter\Documents\Projekte\Coding\Jupyter\Grafiken\TEST' + table[10:] + '.csv', index = False)

In [111]:
print(ListAnzahl)

['0084_01', 168, '0084_02', 168, '0084_03', 168, '0084_04', 168]

#### Yeepie, habe die Abfragen für die 4 Varianten gemacht

#### Nun folgen 3 Abfragen, um zu sehen, wie sich speed und flow (ohne averages) entlang des Tages verteilen:

#### Das möchte ich für 3 Zeitintervalle - min, 15min, h - machen und dann Grafiken erstellen, welche die Konturen entlang der 24h in der Frequenz von min, 15min oder h zeigt!

#### Zunächst musste ich aber rausfinden, wie ich **zB die Stunde** aus der Zeit filtere

#### 1. Versuch: Angabe als STRING mit Verwendung von LIKE

In [26]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(func.strftime('%H', t.c.time, 'localtime').like('23'))
result = conn.execute(q)
row = result.fetchall()

In [27]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-27 23:03:00+02:00,2021,07,30,27,23,2,0.0,0.0
1,2021-07-27 23:08:00+02:00,2021,07,30,27,23,2,0.0,0.0
2,2021-07-27 23:13:00+02:00,2021,07,30,27,23,2,0.0,0.0
3,2021-07-27 23:18:00+02:00,2021,07,30,27,23,2,0.0,0.0
4,2021-07-27 23:23:00+02:00,2021,07,30,27,23,2,0.0,0.0

#### Aber mit Verwendung des Labels 'Stunde' scheint die Abfrage nicht zu funktionieren!

In [28]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(Stunde.like('23'))
result = conn.execute(q)
row = result.fetchall()

NameError: name 'Stunde' is not defined

In [29]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-27 23:03:00+02:00,2021,07,30,27,23,2,0.0,0.0
1,2021-07-27 23:08:00+02:00,2021,07,30,27,23,2,0.0,0.0
2,2021-07-27 23:13:00+02:00,2021,07,30,27,23,2,0.0,0.0
3,2021-07-27 23:18:00+02:00,2021,07,30,27,23,2,0.0,0.0
4,2021-07-27 23:23:00+02:00,2021,07,30,27,23,2,0.0,0.0

In [30]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(and_(t.c.vfr11 == 1200, func.strftime('%H', t.c.time, 'localtime').like('23')))
result = conn.execute(q)
row = result.fetchall()

In [31]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

Empty DataFrame
Columns: [time, Jahr, Monat, Woche, Tag, Stunde, Wochentag, flow, speed]
Index: []

#### Es ist gut, dass LIKE funktioniert, aber eigentlich ist zB 23 ein konkreter Integerwert

#### 2. Versuch: CAST to INTEGER und dann mit == arbeiten

In [32]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == 23)
result = conn.execute(q)
row = result.fetchall()

In [33]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-27 23:03:00+02:00,2021,07,30,27,23,2,0.0,0.0
1,2021-07-27 23:08:00+02:00,2021,07,30,27,23,2,0.0,0.0
2,2021-07-27 23:13:00+02:00,2021,07,30,27,23,2,0.0,0.0
3,2021-07-27 23:18:00+02:00,2021,07,30,27,23,2,0.0,0.0
4,2021-07-27 23:23:00+02:00,2021,07,30,27,23,2,0.0,0.0

In [34]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(cast(Stunde, Integer) == 23)
result = conn.execute(q)
row = result.fetchall()

NameError: name 'Stunde' is not defined

In [35]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-27 23:03:00+02:00,2021,07,30,27,23,2,0.0,0.0
1,2021-07-27 23:08:00+02:00,2021,07,30,27,23,2,0.0,0.0
2,2021-07-27 23:13:00+02:00,2021,07,30,27,23,2,0.0,0.0
3,2021-07-27 23:18:00+02:00,2021,07,30,27,23,2,0.0,0.0
4,2021-07-27 23:23:00+02:00,2021,07,30,27,23,2,0.0,0.0

In [36]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(and_(t.c.vfr11 == 1200, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == 23))
result = conn.execute(q)
row = result.fetchall()

In [37]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

Empty DataFrame
Columns: [time, Jahr, Monat, Woche, Tag, Stunde, Wochentag, flow, speed]
Index: []

#### OK, jetzt ist alles bereits für den loop:

##### 1. Nach Stunden

In [112]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(and_(t.c.vfr11 > 0, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == 11))
result = conn.execute(q)
row = result.fetchall()

In [113]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-28 11:00:00+02:00,2021,07,30,28,11,3,1140.0,68.0
1,2021-07-28 11:01:00+02:00,2021,07,30,28,11,3,960.0,69.0
2,2021-07-28 11:04:00+02:00,2021,07,30,28,11,3,840.0,63.0
3,2021-07-28 11:05:00+02:00,2021,07,30,28,11,3,900.0,69.0
4,2021-07-28 11:06:00+02:00,2021,07,30,28,11,3,1260.0,69.0

In [114]:
df_test.shape

(3630, 9)

In [245]:
ListAnzahl = []
for table in tab:
    t = db.Table(table, metadata, autoload = True)
    ListAnzahl.append(table[10:])
    for h in range(24):
        q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
        filter(and_(t.c.vfr11 > 0, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == h))
        result = conn.execute(q)
        row = result.fetchall()
        ListAnzahl.append(h) 
        ListAnzahl.append(len(row)) 
        df = pd.read_sql_query(q, conn)
        df.to_csv(r'C:\Users\peter\Documents\Projekte\Coding\Jupyter\Grafiken\Buckets\Stunde_' + str(h) + '_' +  table[10:] + '.csv', index = False)

In [246]:
tab

['tcdata_CH_0084_01',
 'tcdata_CH_0084_02',
 'tcdata_CH_0084_03',
 'tcdata_CH_0084_04']

#### Mal überlegen! Bevor ich ein csv-file schreibe, sollte ich noch die Daten für die Grafik mundgerecht aufarbeiten. Dh die Percentil-Werte für die Buckets berechnen!

#### Und was mache ich mit Werten gleich Null für Flow oder Speed? >> Ich nehme für Flow > 0 in die Query!

#### Und für die Percentil-Werte sollte ich den DF vor dem Abspeichern als csv-Datei bearbeiten, dh einmal nach Flow und ein anderes Mal nach Speed sortieren, die Percentile bestimmen und dann 2 verschiedene DF abspeichern >> Mit der Pandas-Funktion "percentile" kann man sich auch die Werte ohne vorheriges Sortieren geben lassen.

### OK, Dafür (sortieren im DF) brauche ich Internet, also erst überlegen, wie ich nach min bzw. 15min die Abfrage gestalte

#### Min geht wie Stunde, nur mit Loop 0-59 und "M" für Minute

#### Query mit 0-Werten

In [10]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(and_(t.c.vfr11 >= 0, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == 11))
result = conn.execute(q)
row = result.fetchall()

In [11]:
df_test0= pd.read_sql_query(q, conn)
df_test0.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-28 11:00:00+02:00,2021,07,30,28,11,3,1320.0,69.0
1,2021-07-28 11:01:00+02:00,2021,07,30,28,11,3,1440.0,65.0
2,2021-07-28 11:04:00+02:00,2021,07,30,28,11,3,1020.0,68.0
3,2021-07-28 11:05:00+02:00,2021,07,30,28,11,3,1380.0,65.0
4,2021-07-28 11:06:00+02:00,2021,07,30,28,11,3,1380.0,67.0

In [12]:
df_test0.sort_values(by = ['flow', 'time'], ascending = [False, True], na_position = 'first')

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
523,2021-08-26 11:54:00+02:00,2021,08,34,26,11,4,2700.0,58.0
1038,2021-10-09 11:08:00+02:00,2021,10,40,09,11,6,2580.0,55.0
1044,2021-10-09 11:38:00+02:00,2021,10,40,09,11,6,2520.0,60.0
358,2021-08-13 11:09:00+02:00,2021,08,32,13,11,5,2460.0,60.0
546,2021-08-28 11:49:00+02:00,2021,08,34,28,11,6,2400.0,61.0
...,...,...,...,...,...,...,...,...,...
2540,2022-02-17 11:13:00+01:00,2022,02,07,17,11,4,0.0,0.0
2541,2022-02-17 11:18:00+01:00,2022,02,07,17,11,4,0.0,0.0
2542,2022-02-17 11:23:00+01:00,2022,02,07,17,11,4,0.0,0.0
2543,2022-02-17 11:28:00+01:00,2022,02,07,17,11,4,0.0,0.0
2871,2022-03-17 11:23:00+01:00,2022,03,11,17,11,4,0.0,0.0

#### Query **ohne** 0-Werten

In [13]:
q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
filter(and_(t.c.vfr11 > 0, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == 11))
result = conn.execute(q)
row = result.fetchall()

In [14]:
df_test= pd.read_sql_query(q, conn)
df_test.head()

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
0,2021-07-28 11:00:00+02:00,2021,07,30,28,11,3,1320.0,69.0
1,2021-07-28 11:01:00+02:00,2021,07,30,28,11,3,1440.0,65.0
2,2021-07-28 11:04:00+02:00,2021,07,30,28,11,3,1020.0,68.0
3,2021-07-28 11:05:00+02:00,2021,07,30,28,11,3,1380.0,65.0
4,2021-07-28 11:06:00+02:00,2021,07,30,28,11,3,1380.0,67.0

In [15]:
df_test.sort_values(by = ['flow', 'time'], ascending = [False, True], na_position = 'first')

,time,Jahr,Monat,Woche,Tag,Stunde,Wochentag,flow,speed
523,2021-08-26 11:54:00+02:00,2021,08,34,26,11,4,2700.0,58.0
999,2021-10-09 11:08:00+02:00,2021,10,40,09,11,6,2580.0,55.0
1005,2021-10-09 11:38:00+02:00,2021,10,40,09,11,6,2520.0,60.0
358,2021-08-13 11:09:00+02:00,2021,08,32,13,11,5,2460.0,60.0
546,2021-08-28 11:49:00+02:00,2021,08,34,28,11,6,2400.0,61.0
...,...,...,...,...,...,...,...,...,...
4207,2022-07-14 11:13:00+02:00,2022,07,28,14,11,4,600.0,69.0
4379,2022-07-28 11:33:00+02:00,2022,07,30,28,11,4,600.0,61.0
1682,2021-12-08 11:43:00+01:00,2021,12,49,08,11,3,480.0,57.0
3128,2022-04-12 11:18:00+02:00,2022,04,15,12,11,2,480.0,65.0
2818,2022-03-17 11:28:00+01:00,2022,03,11,17,11,4,120.0,4.0

#### Quantile für beide DFs

In [16]:
df_test0.quantile([0.05, .1, .3, .5, .7, .9, .95], axis = 0)

        flow  speed
0.05   900.0   57.0
0.10  1020.0   59.0
0.30  1260.0   62.0
0.50  1380.0   64.0
0.70  1560.0   66.0
0.90  1800.0   69.0
0.95  1920.0   70.0

In [25]:
p=df_test.quantile([0.05, .1, .3, .5, .7, .9, .95], axis = 0)
type(p)

pandas.core.frame.DataFrame

#### OK, da es nur ca. 1% an 0-Werten gibt sind die Quantile bis auf 0.05 identisch

#### Nun mache ich einen Loop über alle Stunden, erstelle einen DF mit Percentilen pro Stunde, und bilde aus diesen 24 DFs eine "List of Dictionaries" für Flow und Speed. Auf Basis dieser Dictionaries kann ich schliesslich DFs in dem von mir gewünschten Format konstruieren.

In [34]:
ListPercentileFlow = []
ListPercentileSpeed = []
DfPercentileFlow = pd.DataFrame()
DfPercentileSpeed = pd.DataFrame()
for h in range(24):
    q = db.select(t.c.time, func.strftime('%Y', t.c.time).label('Jahr'), func.strftime('%m', t.c.time).label('Monat'), \
              func.strftime('%W', t.c.time).label('Woche'), func.strftime('%d', t.c.time).label('Tag'), func.strftime('%H', t.c.time, 'localtime').label('Stunde'), \
               func.strftime('%w', t.c.time).label('Wochentag'), func.round((t.c.vfr11)).label('flow'), func.round((t.c.s12)).label('speed')). \
    filter(and_(t.c.vfr11 > 0, cast(func.strftime('%H', t.c.time, 'localtime'), Integer) == h))
    result = conn.execute(q)
    row = result.fetchall()
    df_help= pd.read_sql_query(q, conn)
    perc = df_help.quantile([0.05, .1, .3, .5, .7, .9, .95], axis = 0, interpolation = "higher")
    flow = {"hour" : h}
    flow.update(perc["flow"].to_dict())
    ListPercentileFlow.append(flow)
    speed = {"hour" : h}
    speed.update(perc["speed"].to_dict())    
    ListPercentileSpeed.append(speed)

In [37]:
df_perc_flow = pd.DataFrame.from_dict(ListPercentileFlow)
df_perc_flow.to_csv(r'C:\Users\peter\Coding\Jupyter\Grafiken\Test_data_flow' + '.csv', index = False)
df_perc_flow

    hour    0.05     0.1     0.3     0.5     0.7     0.9    0.95
0      0    60.0    60.0   180.0   300.0   420.0   600.0   720.0
1      1    60.0    60.0   120.0   180.0   300.0   420.0   480.0
2      2    60.0    60.0    60.0   120.0   180.0   300.0   360.0
3      3    60.0    60.0    60.0   120.0   180.0   240.0   300.0
4      4    60.0    60.0   120.0   180.0   240.0   360.0   360.0
5      5   120.0   120.0   300.0   420.0   600.0   900.0  1020.0
6      6   240.0   360.0   780.0  1260.0  1680.0  2040.0  2220.0
7      7   300.0   480.0  1080.0  1560.0  1800.0  2160.0  2280.0
8      8   540.0   660.0  1020.0  1260.0  1440.0  1680.0  1800.0
9      9   720.0   840.0  1080.0  1200.0  1380.0  1620.0  1740.0
10    10   840.0   960.0  1140.0  1320.0  1440.0  1680.0  1800.0
11    11   960.0  1020.0  1260.0  1380.0  1560.0  1800.0  1920.0
12    12   900.0  1020.0  1260.0  1380.0  1560.0  1800.0  1920.0
13    13  1020.0  1140.0  1380.0  1560.0  1680.0  1920.0  2040.0
14    14  1020.0  1140.0  1320.0  1500.0  1620.0  1860.0  1980.0
15    15  1080.0  1200.0  1380.0  1560.0  1740.0  1980.0  2040.0
16    16   960.0  1140.0  1440.0  1680.0  1860.0  2160.0  2280.0
17    17   900.0  1020.0  1320.0  1560.0  1800.0  2100.0  2220.0
18    18   900.0  1020.0  1260.0  1440.0  1680.0  1920.0  2040.0
19    19   660.0   780.0   960.0  1140.0  1320.0  1560.0  1680.0
20    20   480.0   540.0   780.0   900.0  1020.0  1260.0  1380.0
21    21   360.0   420.0   600.0   720.0   900.0  1080.0  1200.0
22    22   120.0   240.0   480.0   660.0   780.0   960.0  1080.0
23    23   120.0   180.0   300.0   480.0   600.0   840.0   900.0

In [36]:
df_perc_speed = pd.DataFrame.from_dict(ListPercentileSpeed)
df_perc_speed

    hour  0.05   0.1   0.3   0.5   0.7   0.9  0.95
0      0  52.0  56.0  63.0  67.0  70.0  75.0  78.0
1      1  51.0  56.0  63.0  67.0  71.0  77.0  81.0
2      2  50.0  54.0  62.0  66.0  70.0  77.0  80.0
3      3  49.0  54.0  62.0  66.0  71.0  79.0  83.0
4      4  52.0  56.0  63.0  67.0  71.0  78.0  81.0
5      5  59.0  62.0  66.0  69.0  71.0  75.0  78.0
6      6  56.0  59.0  63.0  66.0  69.0  72.0  74.0
7      7  42.0  54.0  61.0  64.0  66.0  70.0  72.0
8      8  56.0  59.0  63.0  65.0  67.0  70.0  72.0
9      9  58.0  60.0  63.0  65.0  67.0  70.0  71.0
10    10  57.0  59.0  62.0  64.0  66.0  69.0  70.0
11    11  57.0  59.0  62.0  64.0  66.0  69.0  70.0
12    12  58.0  60.0  63.0  65.0  67.0  69.0  71.0
13    13  57.0  59.0  62.0  64.0  66.0  69.0  70.0
14    14  57.0  59.0  62.0  64.0  66.0  69.0  70.0
15    15  56.0  59.0  62.0  64.0  66.0  69.0  70.0
16    16  17.0  22.0  57.0  61.0  64.0  68.0  69.0
17    17  14.0  16.0  25.0  46.0  63.0  67.0  69.0
18    18  18.0  24.0  60.0  64.0  66.0  69.0  71.0
19    19  60.0  61.0  64.0  66.0  68.0  71.0  73.0
20    20  60.0  62.0  65.0  67.0  69.0  72.0  74.0
21    21  58.0  61.0  64.0  67.0  69.0  72.0  74.0
22    22  53.0  57.0  63.0  66.0  69.0  73.0  75.0
23    23  53.0  57.0  63.0  66.0  69.0  74.0  77.0